#plans-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#plan-list {
  display: flex;
  justify-content: space-evenly;
}

.plan-link {
  flex-basis: 20%;
}

/* .plan-link:hover {
  transform: scale(1.1);
} */
