.plan-component {
  flex-basis: 20%;
}

.plan-header {
  font-size: 48px;
  padding: 24px;
}

.plan-details {
  line-height: 32px;
}

.benefits-list {
  list-style: circle outside;
  margin-left: 16px;
}

.plan-select {
  margin-top: 32px;
}
