#login-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-alert {
  width: 400px;
  flex-basis: 25%;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#login-alert .alert {
  width: 100%;
  text-align: center;
}

#login-body {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
