@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html,
body,
#root {
  height: 100%;
}

:root {
  --color-primary: #00aaff;
  --color-primary-dark: #008fff;
  --color-secondary: #a0a0ff;
  --color-secondary-dark: #8080ff;
  --color-secondary-light: #e6e6fa;
  --color-text: #555;
  --color-background: #eee;
  --color-error: #ff4444;
  --color-success: #00b000;
}

body {
  background-color: var(--color-background);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

input,
p,
ul {
  color: var(--color-text);
}

a {
  text-decoration: none;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px 0 #aaa;
}

.card-header {
  width: 100%;
  padding: 16px 0;
  text-align: center;
  color: white;
  background-color: var(--color-primary);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card-body {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.button {
  width: 100px;
  height: 40px;
  align-self: center;
  color: white;
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 #aaa;
}

.button:hover {
  background-color: var(--color-primary-dark);
}

.button:disabled {
  cursor: not-allowed;
  background-color: #aaa;
  color: #ddd;
}
